/*Colors
Sand color #d8a160
Green color #374548
font-color azure
highlight color #d99e89 
*/


/*-----------------------------------------*/
/*BASIC SETUP*/
/*-----------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body{
    font-family: 'Philosopher', sans-serif;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-rendering: optimizeLegibility;
    color: azure;
    background-color: #374548;
    }

    a {
        text-decoration: none;
    }
/*-----------------------------------------*/
/*REUSABLE*/
/*-----------------------------------------*/

p,
blockquote{
    line-height: 1.6em;
}

section{
    margin-top: 16%;
}

h1{
    font-family: 'Philosopher';
    text-align: center;
    font-size: 150%;
    font-weight: 300;
    font-style: italic;
}

h2{
    font-size: 160%;
    font-weight: 200;
}

h3{
    font-size: 130%;
    color: #d99e89;
    font-weight: 300;
}

.icon{
    font-size: 130%;
}

/*-----------------------------------------*/
/*HEADER*/
/*-----------------------------------------*/
.header-block,
.doctor-block{
    display: block;
    width: 100%;
}
.header-block{
    height: 100vh;
}

.header-block{
    margin-top: 0;
}

.hero{
    display: block;
    background-image: url(img/motivahybrid.png); 
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*----menu----*/

.menu{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    padding: 3%;
    justify-items: right;
}

.logo{
    display: block;
    justify-self: left;
}

.logo img{
    width: 30%;
    height: auto;
}

.menu-nav{
    width: 100%;
}

.main-nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: right;
    align-items: flex-end;
}

.main-nav ul, .main-nav li{
    list-style: none;
    margin: 0; 
    padding: 0;
}

.main-nav li{
    display: inline-block;
    font-weight: 500;
    font-size: 1vw;
    justify-self: center;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: azure;  
}

.main-nav li a:hover {
    text-decoration: none;
    color: #d99e89;
    border-bottom: 1px solid #d99e89;
    padding-bottom: 6px;
}

/*-----hero-----*/

.hb-text-box{
    display: grid;
    grid-template-columns:  53% 15% 27%;
    grid-template-rows:  1fr 1fr;
    height: 83%;
    color: #d99e89;
    align-items: flex-end;
    margin-left: 20px;
}

.hb-text-box-one{
    grid-row: 1;
    grid-column: 3;
    animation-name: moveInRight;
    animation-duration: 1s;
}


.hb-text-box-two{
    display: block;
    grid-row: 2;
    grid-column: 1;
    animation-name: moveInLeft;
    animation-duration: 1s;
}

.hb-text-box-two img{
    width: 100%;
}

/*-----------------------------------------*/
/*MAIN POINTS*/
/*-----------------------------------------*/

.main-points{
    border: 1px solid #d99e89;
    margin: 0;
    padding: 0;
}

.mp-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2%;
}

.mp-box{
    text-align: center;
    font-weight: 500;
}

/*-----------------------------------------*/
/*ABOUT DOCTOR*/
/*-----------------------------------------*/

.doctor-block{
    display: grid;
    padding: 0 0 8% 0;
}

.doctor{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 60% 30%; 
    width: 100%;
}

.heading{
    display: block;
    grid-column: 2;
    width: 100%;
    height: 150px;
    align-self: flex-start;
}

.heading p{
    padding: 3% 3% 0 0;
    font-size: 110%;
    text-align: justify;
}

h2:after {
    display: inline-block;
    height: 1px;
    background-color: #d99e89;
    content: " ";
    width: 100%;
}

.main-img{
    display: block;
    margin-left: 20%;
    grid-row-start: 1;
    grid-row-end: 3;
}

.main-img img{
    width: auto;
    height: 86%;
    border: 1px solid azure;
    border-radius: 2%;;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

.main-text{
    display: grid;
    grid-template-rows: auto;
    grid-column: 2;
    grid-row: 2;
    color: azure;
    padding: 8%;
    text-align: center;
    align-self: center;
    font-size: 120%;
}

blockquote::before,
blockquote::after{
    display: block;
    content: "\201C";
    font-size: 380%;
    font-family: Lato;
    text-align: left;
}

blockquote::after{
    margin-top: 6%;
    text-align: right;  
}

.signature img{
    display: block;
    width: 40%;
    margin-left: 60%;
}

.db-text-boxes{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 1;
    grid-column-end: 3;
    justify-items: center;
    padding: 3%;
    background-color: #d99e899c;
}

.db-text-box{
    display: block;
    width: 80%;
    align-self: flex-start;
    justify-self: center;
    text-align: justify;
}

.db-text-box h3{
    margin-bottom: 3%;
    color: antiquewhite;
}

/*-----------------------------------------*/
/*BRUST*/
/*-----------------------------------------*/
.brust-block{
    position: relative;
}

.brust-background{
    display: grid;
    grid-template-columns: 60% 20%;
    justify-items: center;
    overflow: hidden;
    padding: 0 10%;
}

.brust-background img{
    width:auto;
    height:100%; 
    position: absolute;
}

.bb-text-box{
    grid-column: 1;
    line-height: 0.8;
    margin-bottom: 10%;
}

.bb-text-box::after{
    display: inline-block;
    height: 1px;
    background-color: #d99e89;
    content: " ";
    width: 100%;
}

.bb-text-box p{
    font-size: 120%;
    padding-bottom: 3%;
}

.bb-text-box h3{
    margin-bottom: 3%;
}

.bb-text-box img{
    width: 10%;
    height: auto;
   
}

.bb-implants{
    grid-column: 2;
}

.bb-implants img{
    display: block;
    width: 30%;
    height: auto;
    justify-self: right;
}

.motiva-logo{
    margin-top: 3%;
}
/*-----------------------------------------*/
/*GIRL*/
/*-----------------------------------------*/

.girl{
    background-image: linear-gradient(to right, rgba(17, 21, 22, 0.9), rgba(0, 0, 0, 0)), url(img/girl_in_pool.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
}

.girl h4{
    display: inline-block;
    text-align: center;
    margin-top: 18%;
    font-size: 360%;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.6em;
}

.boxes-bb{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: center;
}

.box-bb{
    display: block;
    width: 70%;
}


/*-----------------------------------------*/
/*SIMULATION*/
/*-----------------------------------------*/

.simulation-block,
.questions{
    display: grid;
    grid-template-rows: 200px 520px; 
    width: 100%;
}

.heading-sb{
    display: block;
    width: 50%;
    height: 150px;
    justify-self: right;
}

.features{
    display: grid;
    width: 84%;
    grid-row: 2;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: flex-end;
    margin: 6% 8% 0 8%;
}

.feature{
    display: block;
    border: 1px solid #d99e89;
    border-radius: 1%;
    padding: 6%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}

.static{
    height: 70%;
}

.static img{
    width: 100%;
}

.gif img{
    width: 70%;
    margin: 0 15%;
}

.gif h3{
    text-align: center;
    margin-bottom: 13%;
}

/*-----------------------------------------*/
/*CLINIC*/
/*-----------------------------------------*/

.clinic-block{
    background-image: url(img/clinic.jpg);
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-size: 40%;
    height: 100%;
    width: 100%;
}

.cb-container{
    display: grid;
    grid-template-columns: 33% 30% 37%;
  
}

.cb-pic-box{
    grid-column: 2;
    display: block;
    width: 70%;
    margin: 10% 0;
}

.cb-pic-box img{
    width: 100%;
    height: auto;
    border: 1px solid #d99e89;
    border-radius: 1%;
    box-shadow: 3px 3px 3px #1e2527;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}

.cb-box-one,
.cb-box-two {
    margin-bottom: 5%;
}

.cb-text-box{
    display: grid;
    width: 100%;
}

.cb-texts{
    display: block;
    justify-self: right;
    width: 80%;
}

.cb-text{
    margin: 0 7% 6% 0;
}

.cb-text:after{
    display: inline-block;
    height: 1px;
    background-color: azure;
    content: " ";
    width: 100%;
}

.cb-pic{
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
}

.cb-pic:hover{
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

/*-----------------------------------------*/
/*ABOUT US*/
/*-----------------------------------------*/

.about-us{
    display: grid;
    grid-template-columns: 60% 40%;
}

.au{
    grid-template-columns: repeat(3, 1fr);
}

.au .db-text-box p{
    font-size: 110%;
}

/*-----------------------------------------*/
/*BAD TREATMENT*/
/*-----------------------------------------*/


.bad-treatment-text{
    display: block;
    width: 40%;
    height: 50%;
    background-color: #d99e89b7;
    z-index: 1;
    position: absolute;
    margin-left: 30%;
    margin-top: 2%;
    padding: 3%;
}

.foto-block{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    width: 60%;
    margin-left: 20%;
}

.bad-treatment-pic{
    display: block;
}

.pic-one{
    grid-row: 1;
    grid-column: 1;
    justify-self: right;
}

.pic-two{
    grid-row: 1;
    grid-column: 2;
    justify-self: left;
    margin-left: 1%;
}

.pic-three{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    margin-left: 30%;
}

/*-----------------------------------------*/
/*FEEDBACK*/
/*-----------------------------------------*/

.all-feedbacks{
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(6, calc(23% - 40px));
    grid-template-rows: minmax(200px, 1fr);
    overflow: hidden;
    justify-content: center;
}


.fb-box{
    background-color: #fff;
    padding: 10%;
    color: #374548;
    font-size: 10pt;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

.fb-text-box{
    min-height: 80%;
}

.fb-contact-box{
    display: grid;
    grid-template-columns: 20% 80%;
}


.fb-contact-box img{
    width: 100%;
    height: auto;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.fb-contact-box p{
    display: block;
    padding: 10%;
    font-size: 10pt;
}

/*-----------------------------------------*/
/*FOOTER*/
/*-----------------------------------------*/

.footer h3{
    margin-bottom: 3%;
}

.container-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    justify-self: center;
    align-items: center;
    padding: 2%;
}

.logo-footer,
.services-footer,
.conact-footer{
    display: inline-block;
    justify-items: center;
}

.logo-footer img{
    width: 60%;
    margin-left: 6%;  
}

.services-footer-menu{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
}

.services-footer-menu a{
    padding-right: 6%;
}

.services-footer a:link,
.services-footer a:visited {
    text-decoration: none;
    color: azure;  
}

.services-footer a:hover {
    text-decoration: none;
    color: #d99e89;
}

/*-----------------------------------------*/
/*@keyframes*/
/*-----------------------------------------*/

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
    }
    90%{
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
}
    100%{
        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
}
    90%{
        transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
}
    100%{
        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}

@keyframes moveInTop{
    0%{
        opacity: 0;
        transform: translateY(-200px);
        -webkit-transform: translateY(-200px);
        -moz-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
        -o-transform: translateY(-200px);
}
    90%{
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
}
    100%{
        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}

